/**
属性顺序规范
1.	Positioning 布局定位属性：display/position/float/clear/visibility/overflow（建议 display 第一个写，毕竟关系到模式）
2.	Box model 盒模型：width/height/margin/padding/border/background
3.	Typographic 排版：color/font/text-decoration/text-align/vertical-align/white- space/break-word
4.	Visual 外观：content/cursor/border-radius/box-shadow/text-shadow/background:linear-gradient …
5.	其他：animation, transition
 */

html, body, iframe
/*p, blockquote, pre*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video, input*/
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, main, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/*通用样式*/
.form-input {
  /*将输入框变成下划线*/
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
}
.from-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*版心*/
@media screen and (min-width: 1200px) { /* PC */
  .face {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) { /* 平板 */
  .face {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%; /*指定平板端的图片按照屏幕大小展示*/
  }
}
@media screen and (max-width: 767px) { /* 手机 */
  .face {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%; /*指定手机端的图片按照屏幕大小展示*/
  }
}

/*------------------------------navigator start------------------------------*/
nav {
  /*永远在最上层*/
  z-index: 99;
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) { /* PC */
  nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 25px;
    margin: 0 auto;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  nav .nav-container .logo {
    font-weight: bold;
    font-size: larger;
  }

  /*PC端隐藏*/
  nav .nav-toggle {
    display: none;
    font-size: 24px;
    padding: 10px 16px;
    cursor: pointer;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  nav.active a {
    color: black;
  }
  nav.active .container {
    padding: 10px 0;
  }
  nav a.current,
  nav a:hover {
    color: #ed130b;
    font-weight: bold;
  }

  /*搜索框*/
  nav .search-box .search-input {
    height: 24px;
    /*将输入框变成下划线*/
    outline: none;
    border: none;
    border-radius: 10px;
  }
  nav .search-box .search-btn {
    background-color: #3270e2;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1199px) { /* 手机、平板 */
  nav .nav-container {
    background-color: black;
    position: absolute;  /* 绝对定位 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    margin: 0 auto;
    padding: 18px 10px;
    transition: all 0.3s ease-in-out;
  }
  nav .nav-container .logo {
    font-weight: bold;
    font-size: larger;
  }

  nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  nav li a {
    color: blue;
  }

  /*移动端展示菜单按钮*/
  nav .nav-toggle {
    color: #ffffff;
    display: block;
    font-size: 24px;
    padding: 10px 16px;
    cursor: pointer;
  }

  nav .link-container {
    display: none; /*暂时影藏*/
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* 展开状态 */
  .nav-container .link-container.open {
    display: block;
    position: absolute;  /* 绝对定位 */
    top: 100%;           /* 紧贴 nav-toggle 下方 */
    left: 66%;
  }
  .nav-container .link-container li { /*定义列表的格式*/
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: larger;
  }

  /*暂时影藏*/
  nav .search-box {
    display: none;
  }
}

/*------------------------------navigator end------------------------------*/

/*------------------------------back to top start------------------------------*/
#backToTopBtn {
  width: 40px;
  background-repeat: no-repeat;
  background-position:center;
  position: fixed;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
  display: none;
  color: #0051ff;
  font-size: larger;
}
/*------------------------------back to top end------------------------------*/


/*------------------------------footer start------------------------------*/
.footer-container {
  clear: both;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #eaf1f1;
}

.footer-container .desc {
  font-size: medium;
  /*行间距*/
  line-height: 20px;
}
.footer-container .desc a {
  /*先移除掉超链接的默认样式，再自定义样式*/
  text-decoration:none;
  font-size: medium;
  color: black;
  /*行间距*/
  line-height: 15px;
}
/*------------------------------footer end------------------------------*/
