
.hero {
  background-image: url('https://res.hackyle.com/blog/pexels-photo-450035.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}
.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.sec-container {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
}


@media screen and (min-width: 1200px) { /* PC */
  .box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 75%;
    min-height: 130px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }
  .article-abstract {
    margin-left: 10px;
  }
  .article-abstract .meta {
    margin-top: 5px;
    font-size: small;
  }
}
@media screen and (max-width: 1199px) { /* 手机、平板 */
  .box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 92%;
    min-height: 130px;
    margin: 5px 2px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }
  .box h2 {
    font-size: larger;
  }
  .article-abstract {
    margin-left: 10px;
  }
  .article-abstract .meta {
    margin-top: 5px;
    font-size: small;
  }
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box a:link { text-decoration: none; color: #fff}
.box a:active { text-decoration:none; color: #fff}
.box a:hover { text-decoration:none; color: #fff}
.box a:visited { text-decoration: none; color: #fff}

/*上一页、下一页*/
@media screen and (min-width: 1200px) { /* PC */
  .page {
    height: 55px;
    margin: 10px auto;
    text-align: center;
    font-size: x-large;
  }
  .page .cur-page {
    margin: 0 40px;
  }
  .page .from-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
  }
}
@media screen and (max-width: 1199px) { /* 手机、平板 */
  .page {
    height: 55px;
    margin: 10px auto;
    text-align: center;
    font-size: large;
  }
  .page .from-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
  }
}

